/* SELEÇÃO GERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: antiquewhite;
}



/* BODY E ELEMENTOS */

body{
    background-color: rgb(123,140,189);
    background: radial-gradient(circle, rgba(123,140,189,1) 0%, rgba(24,125,147,1) 50%, rgba(64,73,91,1) 100%);
    display: flex;
    margin-bottom: 60px;
} 

main{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    min-width: 70%;
    text-align: center;
}

.formSection{
    margin: 10px;
    background-color: #094f7246;
    padding: 10px;
    border-radius: 5%;
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "form1  form2"
    "form3 form3";
    gap: 40px;
}

.form1{
    grid-area: form1;
    display: grid;
    grid-column-start: 1;
}

.form2{
    grid-area: form2;
    display: grid;
    grid-column-start: 2;
}

.form3{
    grid-area: form3;
}

.cardsSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

footer{
    background-color: rgba(141, 162, 225, 0.986);
    grid-area: footer;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 2px;
}

a, .footer-text{
    color: rgb(53, 65, 99);
    text-decoration: none;
}

h1, h2{
    font-family: 'Fira Sans Condensed', sans-serif;
    margin-bottom: 10px;
}



/* FORMULARIO */

form{
    display: flex;
    flex-direction: column;
}

input{
    height: 25px;
    color: rgb(32, 55, 75);
    background-color: rgb(162, 187, 225);
}

textarea{
    resize: none;
    width: 250px;
    height: 150px;
    border-radius: 5%;
    color: rgb(32, 55, 75);
    background-color: rgb(162, 187, 225);
    margin-bottom: 10px;
}

#rating{
    border-radius: 5%;
    color: rgb(32, 55, 75);
    background-color: rgb(162, 187, 225);
}

#submit, #reset{
    border: solid 1px #2c185a;
    background-color: rgb(162, 187, 225);
    padding: 5px;
    border-radius: 20%;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    margin-bottom: 10px;
    color: #000000;
    transition: 1s; 
}

#submit:hover{
    color: rgb(254, 252, 252);
    background-color: rgb(70, 165, 15);   
}

#reset:hover{
    color: rgb(254, 252, 252);
    background-color: rgb(206, 30, 30);
}



/* CARDS */

.card{
    background-color: rgba(70, 97, 161, 0.582);
    padding: 15px;
    width: 280px;
    flex-wrap: wrap;
    word-break: break;
    border-radius: 5%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.description{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 5px;
}

.img{
    align-items: center;
    display: flex;
    width: 200px;
    margin-bottom: 10px;
    justify-content: center;
}

.score{
    background-color: rgba(131, 154, 207, 0.74);
    max-width: 50px;
    border: 2px solid rgba(131, 154, 207, 0.74);
    border-radius: 15%;
    font-size: large;
    display: flex;
    text-align: center;
}

p{
    margin-top: 3px;
}

.star{
    margin-top: 5px;
    max-width: 15px;
    margin-bottom: 5px;
    margin-left: 5px;
}
